* {
  box-sizing: border-box;
}
body{
    margin: 0;
}
.logo{
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-bottom:-0.25%;
    margin-top:-0.01%;
}
.logo img{
    width: 190px
}
.span1{
    color:#034f84;
}
.span2{
    color:#2d6d9b; font-weight: bold;
}
nav{
    position: relative;   
    overflow: hidden;
    background-color: #333;
}
nav a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    margin-top: 0.5%;
    font-size: 1.3em;
    text-decoration: none;
}
nav a:hover{
    color:#FFB6C1;
}
.backdrop{
    background-image: url(assets/background-2nd.png); 
    background-size: cover; 
    text-align: center;
}
.header1{
    font-family: Tahoma; 
    font-size: 5em; 
    margin-right: 25%;
}
.header2{
    font-family: Lucida Sans; 
    margin-right: 25%; 
    margin-top: -1.8%; 
    font-size: 2em;
}  
.footer-basic {
    padding:40px 0;
    background-color:#26272b;
    color:#fff;
   
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:20px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
    margin-top:-1%;
    margin-bottom: -1%;
  }
  
  .footer-basic .social > a {
    font-size:34px;
    width:50px;
    height:50px;
    line-height:50px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 10px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    color:#FFB6C1;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
.cpyrght{
    text-align: center;
    margin-bottom:-1%;
}
